.l-banks-carousel.mb-20
  .m-container
    .content
      .m-grid-wrapper
        a(href="./article/bank.html" data-wow-duration=".5s").wow.fadeInUp.m-bank-card.tinkoff
          img(src="./img/banks/tinkoff.png").bank__logo
          h3.bank__title Tinkoff Банк
          .bank__info 
            p Открытие счета: бесплатно
            p Обслуживание: от 490 р/мес
            p Возврат до 6% на остаток по счету
          .bank__arrow: img(src="./img/arrow.svg")

        a(href="./article/bank.html" data-wow-duration=".5s" data-wow-delay=".1s").wow.fadeInUp.m-bank-card.tinkoff
          img(src="./img/banks/tinkoff.png").bank__logo
          h3.bank__title Tinkoff Банк
          .bank__info 
            p Открытие счета: бесплатно
            p Обслуживание: от 490 р/мес
            p Возврат до 6% на остаток по счету
          .bank__arrow: img(src="./img/arrow.svg")

        a(href="./article/bank.html" data-wow-duration=".5s" data-wow-delay=".2s").wow.fadeInUp.m-bank-card.tinkoff
          img(src="./img/banks/tinkoff.png").bank__logo
          h3.bank__title Tinkoff Банк
          .bank__info 
            p Открытие счета: бесплатно
            p Обслуживание: от 490 р/мес
            p Возврат до 6% на остаток по счету
          .bank__arrow: img(src="./img/arrow.svg")

        a(href="./article/bank.html" data-wow-duration=".5s" data-wow-delay=".3s").wow.fadeInUp.m-bank-card.tinkoff
          img(src="./img/banks/tinkoff.png").bank__logo
          h3.bank__title Tinkoff Банк
          .bank__info 
            p Открытие счета: бесплатно
            p Обслуживание: от 490 р/мес
            p Возврат до 6% на остаток по счету
          .bank__arrow: img(src="./img/arrow.svg")

        a(href="./article/bank.html" data-wow-duration=".5s" data-wow-delay=".4s").wow.fadeInUp.m-bank-card.tinkoff
          img(src="./img/banks/tinkoff.png").bank__logo
          h3.bank__title Tinkoff Банк
          .bank__info 
            p Открытие счета: бесплатно
            p Обслуживание: от 490 р/мес
            p Возврат до 6% на остаток по счету
          .bank__arrow: img(src="/img/arrow.svg")

        a(href="./article/bank.html" data-wow-duration=".5s" data-wow-delay=".5s").wow.fadeInUp.m-bank-card.tinkoff
          img(src="./img/banks/tinkoff.png").bank__logo
          h3.bank__title Tinkoff Банк
          .bank__info 
            p Открытие счета: бесплатно
            p Обслуживание: от 490 р/мес
            p Возврат до 6% на остаток по счету
          .bank__arrow: img(src="./img/arrow.svg")

  .m-container
    .content
      p.text-center: a(href="./compare.html" data-wow-duration=".5s" data-wow-delay=".6s").wow.fadeInUp.btn.mt-15 Сравнить условия