doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Пример статьи про банк | Найди Банк
  link(rel='stylesheet', href='../css/main.css')
  link(rel="icon" type="image/png" href="/img/favicon.png")
body
  //= ../templates/header.pug

  .m-container
    .content
      .l-article
        h1.article__title Пример статьи про банк
        img(src="/img/articles/article-hat.jpg").article__image
        p «Модульбанк» — единственный банк в РФ, который сотрудничает только с представителями малого бизнеса.

        p Данный банк первым на рынке осуществил запуск ряда полезных для предпринимателей инструментов: возможность открыть ссылка в тексте через интернет и даже по телефону, ведение бухгалтерии бесплатно и так далее.

        p Кроме этого в банке существует выделение жирным зарплаты сотрудникам на любые банковские карточки.

        h2 Подзаголовок

        p Кроме этого в банке существует выделение жирным зарплаты сотрудникам на любые банковские карточки.

        blockquote Данный банк первым на рынке осуществил запуск ряда полезных для предпринимателей инструментов: возможность открыть расчетный счет через интернет и даже по телефону, ведение бухгалтерии бесплатно и так далее.

        p Кроме этого в банке существует выделение жирным зарплаты сотрудникам на любые банковские карточки.

        p.text-center: a(href="#").btn.btn--small Пример кнопки

        p Кроме этого в банке существует выделение жирным зарплаты сотрудникам на любые банковские карточки.

  
  //= ../templates/articles/more-articles.pug
  //= ../templates/footer.pug
  

script(src='../js/main.js')
