doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Полезные статьи | Найди Банк
  link(rel='stylesheet', href='css/main.css')
  link(rel="icon" type="image/png" href="./img/favicon.png")
body
  //= templates/header.pug
  //= templates/articles/articles-list.pug
  //= templates/footer.pug
  

script(src='js/main.js')
