doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Найди Банк – Банки с выгодными тарифами на РКО для ИП и ООО в России
  link(rel='stylesheet', href='css/main.css')
  link(rel="stylesheet" href="css/owl.carousel.min.css")
  link(rel="stylesheet" href="css/owl.theme.default.min.css")
  link(rel="icon" type="image/png" href="./img/favicon.png")
body
  //= templates/header.pug
  //= templates/home/hat.pug
  //= templates/home/banks.pug
  //= templates/home/articles.pug
  //= templates/footer.pug
   

script(src='js/main.js')
script(src='js/home.js')
